
/*for extra small device*/

@media(max-width:575px){
    ul, li {
	list-style-type: none;
	text-align: center;
	background: #c3c3c3;
}
 
#banner {
	padding: 120px 0px;
}    
.banner-topic h2 {
    margin-top: 10px;
	font-size: 30px;

}
.banner-topic h3::before {
	bottom: 25px;
}    
.banner-topic h3 {
	font-size: 60px;
	padding: 0px 0px;
	padding-bottom: 50px;
}

.flip-box {
	margin-left: 90px;
	margin-bottom: 20px;
}
#conter-part {
	padding: 10px 0px;
	background: #95e1d3;
}
.counter-timer p {
	font-size: 40px;
}    
.service-topic {
	padding: 20px 0px;
	text-align: center;
}

.topic i {
	width: 80px;
	height: 80px;
	border: 2px solid #95e1d3;
	font-size: 35px;
	padding-top: 19px;
}    
.topic h4 {
	font-size: 15px;
	line-height: 25px;
}    
.topic h6 {
	font-size: 13px;
}
.left {
	top: 29%;
	left: 30px;
}    
.right {
	top: 30%;
	right: 30px;
}    
.topic {
	padding-left: 50px;
}    
#comment-part {
	padding: 30px 0px;
}    
.card {
	margin-bottom: 30px;
}
img {
	width: 100%;
}
.bloom i {
	padding-top: 210px;
}

}